:root {
  --t-cards-border-radius: 14px;
  --t-button-border-radius: 52px;
  --t-images-border-radius: 14px;
  --t-font-family: AvenirNextLTPro;
  --t-title-font-family: AvenirNextLTPro;
  --t-title-l-font-weight: 400;
  --t-title-l-letter-space: normal;
  --t-title-l-font-style: normal;
  --t-title-l-text-transform: uppercase;
  --t-title-l-font-size-viewport-xs: 2.125rem;
  --t-title-l-line-height-viewport-xs: 2.3375rem;
  --t-title-l-font-size-viewport-m: 2.8125rem;
  --t-title-l-line-height-viewport-m: 3.09375rem;
  --t-title-l-font-size-viewport-l: 3.4375rem;
  --t-title-l-line-height-viewport-l: 3.78125rem;
  --t-title-m-font-weight: 400;
  --t-title-m-letter-space: normal;
  --t-title-m-font-style: normal;
  --t-title-m-text-transform: uppercase;
  --t-title-m-font-size-viewport-xs: 1.875rem;
  --t-title-m-line-height-viewport-xs: 2.0625rem;
  --t-title-m-font-size-viewport-m: 2.1875rem;
  --t-title-m-line-height-viewport-m: 2.40625rem;
  --t-title-m-font-size-viewport-l: 2.5rem;
  --t-title-m-line-height-viewport-l: 2.75rem;
  --t-title-s-font-weight: 400;
  --t-title-s-letter-space: normal;
  --t-title-s-font-style: normal;
  --t-title-s-text-transform: uppercase;
  --t-title-s-font-size-viewport-xs: 1.5625rem;
  --t-title-s-line-height-viewport-xs: 1.71825rem;
  --t-title-s-font-size-viewport-m: 1.6875rem;
  --t-title-s-line-height-viewport-m: 1.85625rem;
  --t-title-s-font-size-viewport-l: 1.8125rem;
  --t-title-s-line-height-viewport-l: 1.99375rem;
  --t-subtitle-xl-font-weight: 400;
  --t-subtitle-xl-letter-space: normal;
  --t-subtitle-xl-font-style: normal;
  --t-subtitle-xl-text-transform: uppercase;
  --t-subtitle-xl-font-size-viewport-xs: 1rem;
  --t-subtitle-xl-line-height-viewport-xs: 1.6875rem;
  --t-subtitle-xl-font-size-viewport-l: 1.375rem;
  --t-subtitle-xl-line-height-viewport-l: 1.71875rem;
  --t-logo-size-s: 3.645rem;
  --t-logo-size-m: 3.08rem;
  --t-logo-size-l: 4.5rem;
  --t-button-primary-bg-color: #575f57;
  --t-button-primary-fg-color: #ffffff;
  --t-button-primary-border-color: #575f57;
  --t-button-primary-hover-bg-color: rgba(28, 28, 28, 0.2);
  --t-button-secondary-bg-color: rgba(255,255,255,0);
  --t-button-secondary-fg-color: #575f57;
  --t-button-secondary-border-color: #575f57;
  --t-button-secondary-hover-bg-color: #575f57;
  --t-button-secondary-hover-fg-color: #ffffff;
  --t-button-secondary-hover-border-color: #575f57;
  --t-button-tertiary-color: #575f57;
  --t-link-text-color: #575f57;
  --t-link-border-color: #575f57;
  --t-non-interactive-accent-color: #ba7d7d;
  --t-interactive-accent-color: #ba7d7d;
  --t-icon-color-decorative: #ba7d7d;
  --t-accent-color: #ba7d7d;
  --t-horizontal-vertical-rule: #c4c4c4;
  --t-brand-ribbon: rgba(255,255,255,0);
  --t-brand-bg-color: #ffffff;
  --t-brand-bg-color-rgb: 255, 255, 255;
  --t-brand-fg-color: #1c1c1c;
  --t-brand-alt-color: #707070;
  --t-logo-bg-color: rgba(255,255,255,0);
  --t-logo-fg-color: #575f57;
  --t-form-label-color: #1c1c1c;
  --t-form-error-color: #d0021b;
  --t-input-fields-fg-color: #ffffff;
  --t-input-fields-bg-color: #ba7d7d;
  --t-brand-bg-gradient-desktop: linear-gradient(270deg, rgba(255,255,255,0)0.03%, rgba(255, 255, 255, 0.46)58%, rgba(255, 255, 255, 0.54)100%);
  --t-brand-bg-gradient-mobile: linear-gradient(180deg, rgba(255,255,255,0)0%, rgba(255, 255, 255, 0.73)100%);
}
.color-scheme1 {
  --t-button-primary-bg-color: #575f57;
  --t-button-primary-fg-color: #ffffff;
  --t-button-primary-border-color: #575f57;
  --t-button-primary-hover-bg-color: rgba(28, 28, 28, 0.2);
  --t-button-secondary-bg-color: rgba(255,255,255,0);
  --t-button-secondary-fg-color: #575f57;
  --t-button-secondary-border-color: #575f57;
  --t-button-secondary-hover-bg-color: #575f57;
  --t-button-secondary-hover-fg-color: #ffffff;
  --t-button-secondary-hover-border-color: #575f57;
  --t-button-tertiary-color: #575f57;
  --t-link-text-color: #575f57;
  --t-link-border-color: #575f57;
  --t-non-interactive-accent-color: #ba7d7d;
  --t-interactive-accent-color: #ba7d7d;
  --t-icon-color-decorative: #ba7d7d;
  --t-accent-color: #ba7d7d;
  --t-horizontal-vertical-rule: #c4c4c4;
  --t-brand-ribbon: rgba(255,255,255,0);
  --t-brand-bg-color: #ffffff;
  --t-brand-bg-color-rgb: 255, 255, 255;
  --t-brand-fg-color: #1c1c1c;
  --t-brand-alt-color: #707070;
  --t-logo-bg-color: rgba(255,255,255,0);
  --t-logo-fg-color: #575f57;
  --t-form-label-color: #1c1c1c;
  --t-form-error-color: #d0021b;
  --t-input-fields-fg-color: #ffffff;
  --t-input-fields-bg-color: #ba7d7d;
  --t-brand-bg-gradient-desktop: linear-gradient(270deg, rgba(255,255,255,0)0.03%, rgba(255, 255, 255, 0.46)58%, rgba(255, 255, 255, 0.54)100%);
  --t-brand-bg-gradient-mobile: linear-gradient(180deg, rgba(255,255,255,0)0%, rgba(255, 255, 255, 0.73)100%);
}
.color-scheme2 {
  --t-button-primary-bg-color: #e4beb6;
  --t-button-primary-fg-color: #1c1c1c;
  --t-button-primary-border-color: #e4beb6;
  --t-button-primary-hover-bg-color: rgba(255, 255, 255, 0.2);
  --t-button-secondary-bg-color: rgba(255,255,255,0);
  --t-button-secondary-fg-color: #ffffff;
  --t-button-secondary-border-color: #ffffff;
  --t-button-secondary-hover-bg-color: #ffffff;
  --t-button-secondary-hover-fg-color: #1c1c1c;
  --t-button-secondary-hover-border-color: #ffffff;
  --t-button-tertiary-color: #e4beb6;
  --t-link-text-color: #e4beb6;
  --t-link-border-color: #e4beb6;
  --t-non-interactive-accent-color: #e4beb6;
  --t-interactive-accent-color: #e4beb6;
  --t-icon-color-decorative: #e4beb6;
  --t-accent-color: #e4beb6;
  --t-horizontal-vertical-rule: #707070;
  --t-brand-ribbon: rgba(255,255,255,0);
  --t-brand-bg-color: #1c1c1c;
  --t-brand-bg-color-rgb: 28, 28, 28;
  --t-brand-fg-color: #ffffff;
  --t-brand-alt-color: #c4c4c4;
  --t-logo-bg-color: rgba(255,255,255,0);
  --t-logo-fg-color: #ffffff;
  --t-form-label-color: #1c1c1c;
  --t-form-error-color: #d0021b;
  --t-input-fields-fg-color: #ffffff;
  --t-input-fields-bg-color: #ba7d7d;
  --t-brand-bg-gradient-desktop: linear-gradient(270deg, rgba(255,255,255,0)0.03%, rgba(255, 255, 255, 0.46)58%, rgba(255, 255, 255, 0.54)100%);
  --t-brand-bg-gradient-mobile: linear-gradient(180deg, rgba(255,255,255,0)0%, rgba(255, 255, 255, 0.73)100%);
}
.color-scheme3 {
  --t-button-primary-bg-color: #575f57;
  --t-button-primary-fg-color: #ffffff;
  --t-button-primary-border-color: #575f57;
  --t-button-primary-hover-bg-color: rgba(28, 28, 28, 0.2);
  --t-button-secondary-bg-color: rgba(255,255,255,0);
  --t-button-secondary-fg-color: #575f57;
  --t-button-secondary-border-color: #575f57;
  --t-button-secondary-hover-bg-color: #575f57;
  --t-button-secondary-hover-fg-color: #ffffff;
  --t-button-secondary-hover-border-color: #575f57;
  --t-button-tertiary-color: #575f57;
  --t-link-text-color: #575f57;
  --t-link-border-color: #575f57;
  --t-non-interactive-accent-color: #ba7d7d;
  --t-interactive-accent-color: #ba7d7d;
  --t-icon-color-decorative: #ba7d7d;
  --t-accent-color: #ba7d7d;
  --t-horizontal-vertical-rule: #c4c4c4;
  --t-brand-ribbon: rgba(255,255,255,0);
  --t-brand-bg-color: #f4f4f4;
  --t-brand-bg-color-rgb: 244, 244, 244;
  --t-brand-fg-color: #1c1c1c;
  --t-brand-alt-color: #707070;
  --t-logo-bg-color: rgba(255,255,255,0);
  --t-logo-fg-color: #1c1c1c;
  --t-form-label-color: #1c1c1c;
  --t-form-error-color: #d0021b;
  --t-input-fields-fg-color: #ffffff;
  --t-input-fields-bg-color: #ba7d7d;
  --t-brand-bg-gradient-desktop: linear-gradient(270deg, rgba(0,0,0,0)0%, rgba(0, 0, 0, 0.54)57.42%, rgba(0, 0, 0, 0.62)100%);
  --t-brand-bg-gradient-mobile: linear-gradient(180deg, rgba(28,28,28,0)0%, rgba(28, 28, 28, 0.73)100%);
}
.color-scheme4 {
  --t-button-primary-bg-color: #e4beb6;
  --t-button-primary-fg-color: #1c1c1c;
  --t-button-primary-border-color: #e4beb6;
  --t-button-primary-hover-bg-color: rgba(255, 255, 255, 0.2);
  --t-button-secondary-bg-color: rgba(255,255,255,0);
  --t-button-secondary-fg-color: #ffffff;
  --t-button-secondary-border-color: #ffffff;
  --t-button-secondary-hover-bg-color: #ffffff;
  --t-button-secondary-hover-fg-color: #1c1c1c;
  --t-button-secondary-hover-border-color: #ffffff;
  --t-button-tertiary-color: #ffffff;
  --t-link-text-color: #ffffff;
  --t-link-border-color: #ffffff;
  --t-non-interactive-accent-color: #e4beb6;
  --t-interactive-accent-color: #e4beb6;
  --t-icon-color-decorative: #e4beb6;
  --t-accent-color: #e4beb6;
  --t-horizontal-vertical-rule: #dbd8cf;
  --t-brand-ribbon: rgba(255,255,255,0);
  --t-brand-bg-color: #575f57;
  --t-brand-bg-color-rgb: 87, 95, 87;
  --t-brand-fg-color: #ffffff;
  --t-brand-alt-color: #ffffff;
  --t-logo-bg-color: rgba(255,255,255,0);
  --t-logo-fg-color: #ffffff;
  --t-form-label-color: #1c1c1c;
  --t-form-error-color: #d0021b;
  --t-input-fields-fg-color: #ffffff;
  --t-input-fields-bg-color: #ba7d7d;
  --t-brand-bg-gradient-desktop: linear-gradient(270deg, rgba(0,0,0,0)0%, rgba(0, 0, 0, 0.54)57.42%, rgba(0, 0, 0, 0.62)100%);
  --t-brand-bg-gradient-mobile: linear-gradient(180deg, rgba(28,28,28,0)0%, rgba(28, 28, 28, 0.73)100%);
}
.color-scheme5 {
  --t-button-primary-bg-color: #575f57;
  --t-button-primary-fg-color: #ffffff;
  --t-button-primary-border-color: #575f57;
  --t-button-primary-hover-bg-color: rgba(28, 28, 28, 0.2);
  --t-button-secondary-bg-color: rgba(255,255,255,0);
  --t-button-secondary-fg-color: #575f57;
  --t-button-secondary-border-color: #575f57;
  --t-button-secondary-hover-bg-color: #575f57;
  --t-button-secondary-hover-fg-color: #ffffff;
  --t-button-secondary-hover-border-color: #575f57;
  --t-button-tertiary-color: #575f57;
  --t-link-text-color: #575f57;
  --t-link-border-color: #575f57;
  --t-non-interactive-accent-color: #575f57;
  --t-interactive-accent-color: #575f57;
  --t-icon-color-decorative: #575f57;
  --t-accent-color: #575f57;
  --t-horizontal-vertical-rule: #e4beb6;
  --t-brand-ribbon: rgba(255,255,255,0);
  --t-brand-bg-color: #f1deda;
  --t-brand-bg-color-rgb: 241, 222, 218;
  --t-brand-fg-color: #1c1c1c;
  --t-brand-alt-color: #575f57;
  --t-logo-bg-color: rgba(255,255,255,0);
  --t-logo-fg-color: #575f57;
  --t-form-label-color: #1c1c1c;
  --t-form-error-color: #d0021b;
  --t-input-fields-fg-color: #ffffff;
  --t-input-fields-bg-color: #ba7d7d;
  --t-brand-bg-gradient-desktop: linear-gradient(270deg, rgba(255,255,255,0)0.03%, rgba(255, 255, 255, 0.46)58%, rgba(255, 255, 255, 0.54)100%);
  --t-brand-bg-gradient-mobile: linear-gradient(180deg, rgba(255,255,255,0)0%, rgba(255, 255, 255, 0.73)100%);
}
.color-scheme6 {
  --t-button-primary-bg-color: #575f57;
  --t-button-primary-fg-color: #ffffff;
  --t-button-primary-border-color: #575f57;
  --t-button-primary-hover-bg-color: rgba(28, 28, 28, 0.2);
  --t-button-secondary-bg-color: rgba(255,255,255,0);
  --t-button-secondary-fg-color: #1c1c1c;
  --t-button-secondary-border-color: #1c1c1c;
  --t-button-secondary-hover-bg-color: #1c1c1c;
  --t-button-secondary-hover-fg-color: #ffffff;
  --t-button-secondary-hover-border-color: #1c1c1c;
  --t-button-tertiary-color: #1c1c1c;
  --t-link-text-color: #1c1c1c;
  --t-link-border-color: #1c1c1c;
  --t-non-interactive-accent-color: #1c1c1c;
  --t-interactive-accent-color: #1c1c1c;
  --t-icon-color-decorative: #1c1c1c;
  --t-accent-color: #1c1c1c;
  --t-horizontal-vertical-rule: #707070;
  --t-brand-ribbon: rgba(255,255,255,0);
  --t-brand-bg-color: #dbd8cf;
  --t-brand-bg-color-rgb: 219, 216, 207;
  --t-brand-fg-color: #1c1c1c;
  --t-brand-alt-color: #1c1c1c;
  --t-logo-bg-color: rgba(255,255,255,0);
  --t-logo-fg-color: #1c1c1c;
  --t-form-label-color: #1c1c1c;
  --t-form-error-color: #d0021b;
  --t-input-fields-fg-color: #ffffff;
  --t-input-fields-bg-color: #ba7d7d;
  --t-brand-bg-gradient-desktop: linear-gradient(270deg, rgba(255,255,255,0)0.03%, rgba(255, 255, 255, 0.46)58%, rgba(255, 255, 255, 0.54)100%);
  --t-brand-bg-gradient-mobile: linear-gradient(180deg, rgba(255,255,255,0)0%, rgba(255, 255, 255, 0.73)100%);
}
.color-scheme7 {
  --t-button-primary-bg-color: #e4beb6;
  --t-button-primary-fg-color: #1c1c1c;
  --t-button-primary-border-color: #e4beb6;
  --t-button-primary-hover-bg-color: rgba(255, 255, 255, 0.2);
  --t-button-secondary-bg-color: rgba(255,255,255,0);
  --t-button-secondary-fg-color: #ffffff;
  --t-button-secondary-border-color: #ffffff;
  --t-button-secondary-hover-bg-color: #ffffff;
  --t-button-secondary-hover-fg-color: #1c1c1c;
  --t-button-secondary-hover-border-color: #ffffff;
  --t-button-tertiary-color: #ffffff;
  --t-link-text-color: #ffffff;
  --t-link-border-color: #ffffff;
  --t-non-interactive-accent-color: #ffffff;
  --t-interactive-accent-color: #e4beb6;
  --t-icon-color-decorative: #ffffff;
  --t-accent-color: #ffffff;
  --t-horizontal-vertical-rule: #dbd8cf;
  --t-brand-ribbon: rgba(255,255,255,0);
  --t-brand-bg-color: #575f57;
  --t-brand-bg-color-rgb: 87, 95, 87;
  --t-brand-fg-color: #ffffff;
  --t-brand-alt-color: #ffffff;
  --t-logo-bg-color: rgba(255,255,255,0);
  --t-logo-fg-color: #ffffff;
  --t-form-label-color: #1c1c1c;
  --t-form-error-color: #d0021b;
  --t-input-fields-fg-color: #ffffff;
  --t-input-fields-bg-color: #ba7d7d;
  --t-brand-bg-gradient-desktop: linear-gradient(270deg, rgba(255,255,255,0)0.03%, rgba(255, 255, 255, 0.46)58%, rgba(255, 255, 255, 0.54)100%);
  --t-brand-bg-gradient-mobile: linear-gradient(180deg, rgba(255,255,255,0)0%, rgba(255, 255, 255, 0.73)100%);
}
